server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://10.0.0.6:3100/loki/api/v1/push
    tenant_id: 1

scrape_configs:
  - job_name: apache_access
    static_configs:
      - targets:
          - localhost
        labels:
          job: apache_access_logs
          __path__: /var/log/apache2/access.log # Path to your Apache access log
          host: {{ inventory_hostname }}

  - job_name: apache_error
    static_configs:
      - targets:
          - localhost
        labels:
          job: apache_error_logs
          __path__: /var/log/apache2/error.log # Path to your Apache error log
          host: {{ inventory_hostname }}
