- name: All
  hosts: all
  become: true
  tasks:
  - name: copy resolv.conf
    template: 
      src: resolv.conf
      dest: /etc/resolv.conf
      owner: root
      group: root
      mode: "0644"

- name: setup front
  hosts: front
  become: yes
  roles:
    - front_role

- name: setup db
  hosts: db
  become: yes
  roles:
    - db_role

- name: setup back
  hosts: back1,back2
  become: yes
  roles:
    - back_role

- name: setup repl
  hosts: repl
  become: yes
  roles:
    - repl_role

- name: setup backup
  hosts: repl
  become: yes
  roles:
    - db_backup_role

