- name: All
  hosts: all
  become: true
  tasks:
  - name: copy resolv.conf
    template: 
      src: resolv.conf
      dest: /etc/resolv.conf
      owner: root
      group: root
      mode: "0644"

- name: setup front
  hosts: front
  become: yes
  roles:
    - front_role
