- name: All
  hosts: all
  become: true
  tasks:
  - name: copy resolv.conf
    template: 
      src: resolv.conf
      dest: /etc/resolv.conf
      owner: root
      group: root
      mode: "0644"
  #Устанавливаем vim и telnet (для более удобной работы с хостами)
  - name: install base tools
    apt:
      name:
        - vim
        - telnet
      state: present
      update_cache: true


- name: install postgres 14 and set up replication
  hosts: node1,node2
  become: yes
  roles:
    - install_postgres
    - postgres_replication

#Запуск роли install_barman на всех хостах
- name: set up backup
  hosts: all
  become: yes
  roles:
   - install_barman
