    apiVersion: 1

    datasources:
      - name: Prometheus
        type: prometheus
        url: http://localhost:9090
        access: proxy
        isDefault: true
        version: 1
        editable: true

      - name: Loki
        type: loki
        url: http://localhost:3100
        access: proxy
        orgId: 1
        version: 1
        editable: true    
        jsonData:
          httpHeaderName1: "X-Scope-OrgID"
        secureJsonData:
          httpHeaderValue1: "1" 
