#SPDX-License-Identifier: MIT-0
---
# tasks file for back_role
- name: Install apache2 and php
  apt:
    name:
      - apache2
      - libapache2-mod-php
      - openssl
      - php-imagick
      - php-gd
      - php
      - php-mysql
      - unzip
      - php-imap
      - php-intl
      - php-json
      - php-ldap
      - php-mbstring
      - php-smbclient
      - php-ssh2
      - php-sqlite3
      - php-xml
      - php-zip
    state: present
    update_cache: yes

- name: Enable status module
  shell: a2enmod status 

- name: Ensure Apache is running
  service:
    name: apache2
    state: started
    enabled: true    

# - name: Download joomla
#   ansible.builtin.get_url:
#     url: https://downloads.joomla.org/cms/joomla5/5-3-0/Joomla_5-3-0-Stable-Full_Package.zip?format=zip
#     dest: /tmp/Joomla_5-3-0-Stable-Full_Package.zip
#     mode: '0644'
#     validate_certs: no

- name: Create a new directory for joomla
  ansible.builtin.file:
    path: /var/www/html/joomla
    state: directory
    mode: '0755'
    owner: www-data
    group: www-data

- name: Extract archive
  ansible.builtin.unarchive:
    src: /vagrant/distr/Joomla_5-3-0-Stable-Full_Package.zip
    dest: /var/www/html/joomla
    remote_src: yes

- name: Copy configuration.php into joomla
  template:
    src: templates/configuration.php
    dest: /var/www/html/joomla/configuration.php

- name: Copy Otus-project.png into joomla
  template:
    src: templates/Otus-project.png
    dest: /var/www/html/joomla/images/Otus-project.png

- name: Delete a directory
  ansible.builtin.file:
    path: /var/www/html/joomla/installation
    state: absent    

- name: Recursively change ownership of a directory
  ansible.builtin.file:
    path: /var/www/html/joomla
    owner: www-data
    group: www-data
    recurse: yes    

- name: Copy joomla.conf into apache2
  template:
    src: templates/000-default.conf
    dest: /etc/apache2/sites-available/000-default.conf

- name: Restart Apache
  ansible.builtin.service:
    name: apache2
    state: restarted

- name: Create folder /etc/promtail
  ansible.builtin.file:
    path: /etc/promtail
    state: directory

- name: Unzip promtail
  shell: |
    unzip /vagrant/distr/promtail-linux-amd64.zip -d /tmp/
    mv /tmp/promtail-linux-amd64 /usr/bin/promtail
    tar -xvf /vagrant/distr/apache_exporter-1.0.11.linux-amd64.tar.gz -C /tmp/
    cp /tmp/apache_exporter-1.0.11.linux-amd64/apache_exporter /usr/bin/

- name: Copy files apache_exporter service
  ansible.builtin.copy:
    src: templates/apache_exporter.service
    dest: /etc/systemd/system/apache_exporter.service

- name: Copy files service
  ansible.builtin.copy:
    src: templates/promtail.service
    dest: /etc/systemd/system/promtail.service

- name: Copy promtail config
  ansible.builtin.template:
    src: templates/promtail.yml.j2
    dest: /etc/promtail/promtail.yml

- name: Enable promtail.service
  ansible.builtin.systemd_service:
    name: promtail.service
    state: started
    enabled: true    

- name: Enable apache_exporter.service
  ansible.builtin.systemd_service:
    name: apache_exporter.service
    state: started
    enabled: true    
