# {{ ansible_managed }}
events {
    worker_connections 1024;
}

http {
    upstream app{
      server 10.0.0.2;
      server 10.0.0.3;
    }

    server {
        listen       80;
	    listen	443 ssl;
        server_name  {{ common_name }};
        root         /usr/share/nginx/html;
	    ssl_certificate {{ cert_path }};
	    ssl_certificate_key {{ private_key_path }};

      location / {
          proxy_pass http://app;
      }
    }

    server {
        listen 3000;
        server_name grafana;
      location / {
        proxy_pass http://10.0.0.6:3000;
	      proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
      }
    }

    server {
        listen 8080;
        server_name _;
        access_log off;
      location /server-status {
        stub_status on;
      }
    }
}

